src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">	
	
	<flow name="processAQueueObjectsToBatchFlow" doc:id="9a856651-705d-4abe-a479-2a0dd0011a47" >
		<jms:listener doc:name="JMS Topic A" doc:id="b2f4b19c-a3db-408e-9bcf-d8c1932d7a62" config-ref="ActiveMQ" destination="A" numberOfConsumers="1">
			<jms:consumer-type >
				<jms:topic-consumer />
			
</jms:consumer-type>
		
</jms:listener>
		<ee:transform doc:name="Transform from Json to Objects" doc:id="9bc812f8-58e7-4082-9d7d-597b7fe71af9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {

	AccountNumber: $.AccountNumber,
	Description : $.Description,
	Industry : $.Industry,
	Name : $.Name,
	NumberOfEmployees : $.NumberOfEmployees as Number default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sfdcSyncAccounts" doc:id="090af039-38dd-4e27-b516-839152ca3701" name="sfdcSyncAccounts"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="sfdcSyncAccounts" doc:id="08e4aa83-28e0-413f-b4dc-b8ffb4bcddbd" >
		<batch:job jobName="sfdcSyncAccountsBatch" doc:id="36319e48-102d-463c-830c-5a921958c9dc" >
			<batch:process-records>
				<batch:step name="foreachAccountInAGetAccountInBStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config" doc:name="Query Account in Salesforce instance B" doc:id="e828fbe5-8917-4833-a479-8df69b560884" target="IdInB">
						<salesforce:salesforce-query>SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Enrich Payload with IdInB" doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	Id: vars.idInB.Id
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="foreachAccountInAUpsertAccountInBStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<salesforce:upsert-bulk config-ref="Salesforce_Sfdc_B_config" type="Account" externalIdFieldName="Id" doc:name="Upsert bulk - Accounts in Salesforce instance B" doc:id="26dee78b-3cbd-41d7-a260-538058420b0e" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
							</ee:message>
						</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process to SFDC has finished: #[payload]" />

			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="processBQueueObjectsToBatchFlow" doc:id="ac422c43-bdf9-4974-80cc-538d8240231d" >
		<jms:listener doc:name="JMS Topic A" doc:id="0ecced71-3226-45d3-b310-b530c7d852d7" config-ref="ActiveMQ" destination="A" numberOfConsumers="1">
			<jms:consumer-type >
				<jms:topic-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="Transform from Json to Objects" doc:id="2cc75880-0fe6-4178-b131-b6a95487d2be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {

	AccountNumber: $.AccountNumber,
	Description : $.Description,
	Industry : $.Industry,
	SalesforceId: $.Id,
	Name : $.Name,
	NumberOfEmployees : $.NumberOfEmployees as Number default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="dbSyncAccounts" doc:id="7080124b-a26c-4a5e-a523-1d88a6e8d408" name="dbAccountsSync"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="dbAccountsSync" doc:id="e8b62b06-7040-4a96-9947-c62921c08536" >
		<batch:job jobName="dbAccountsSyncBatch" doc:id="b2ae4c53-cbf4-41dc-89e8-756db6e3e116" >
						<batch:process-records>
				<batch:step name="checkAccountInDatabaseStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<db:select config-ref="Database_Config" doc:name="Query Account by matching name from Database" doc:id="c93a20b0-4e0d-44ec-8c0f-831d31beea8b" queryTimeoutUnit="MILLISECONDS" target="IdInDB" targetValue="#[payload[0].id]">
						<non-repeatable-iterable />
						<db:sql >SELECT Id FROM Account WHERE Name = :paramName</db:sql>
						<db:input-parameters ><![CDATA[#[{'paramName' : payload.Name}]]]></db:input-parameters>
					</db:select>
					<ee:transform doc:name="Push Id of account from database to payload" doc:id="65dd1f67-68bf-4b3a-8fec-19cd2c2163b3" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {IdInDB: vars.IdInDB}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="insertAccountToDatabaseStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb" acceptExpression="payload.IdInDB == null">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<db:bulk-insert config-ref="Database_Config" doc:name="Insert account in database" doc:id="f3626d1b-8b19-460e-83f8-1567930ecee8" >
							<db:sql >INSERT INTO Account (
	AccountNumber,
	Description,
	Name,
	NumberOfEmployees,
	Industry,
	SalesforceId,
	LastModifiedById,
	LastModifiedDate
) VALUES (
	:AccountNumber,
	:Description,
	:Name,
	:NumberOfEmployees,
	:Industry,
	:SalesforceId,
	CURRENT_USER,
	CURRENT_TIMESTAMP
)</db:sql>
						</db:bulk-insert>
					
</batch:aggregator>
				</batch:step>
				<batch:step name="updateAccountToDatabaseStep" doc:id="640c7d16-2443-48de-a7a0-084895350e5e" acceptExpression="payload.IdInDB != null">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ce71424b-dcd0-4d42-a141-df297df436b7" size="${page.size}">
						<db:bulk-update config-ref="Database_Config" doc:name="Update account in database" doc:id="5efd3956-44fa-4781-983f-e88dea393a2e" >
							<db:sql >UPDATE Account SET
AccountNumber = :AccountNumber, 
Description = :Description,  
NumberOfEmployees = :NumberOfEmployees,
Industry = :Industry,
SalesforceId = :SalesforceId,
LastModifiedDate = CURRENT_TIMESTAMP,
LastModifiedById = CURRENT_USER
WHERE Id = :IdInDB</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>
			
</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
							</ee:message>
						</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process to DB has finished! #[payload]" />

			</batch:on-complete>
		
		</batch:job>
	</flow>
</mule>
