src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

	<flow name="pushFlow" doc:id="d06d2b84-ba6d-4c74-9b26-f6443b4e0245" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="Push notifications listener" doc:id="8c55bfe5-1ace-4ff7-b08f-6937c33f7077" />
		<choice doc:name="Trigger Policy?" doc:id="ab49295a-6cfe-4ff6-b01e-ee10907e9442" >
			<when expression="#['push' == '${trigger.policy}']" >
				<ee:transform doc:name="Transform XML to Json" doc:id="319ace93-f407-4cbc-9bb3-51d89021f6ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.Envelope.Body.notifications.Notification.*sObject]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<jms:publish doc:name="JMS Topic A" doc:id="adfc9f71-0802-4f5a-96c7-ec1fe6310d76" destination="A" config-ref="ActiveMQ" destinationType="TOPIC">
				</jms:publish>
			
</when>
			<otherwise >
				<logger level="INFO" doc:name="Log about skipped message" doc:id="93bbbb8d-2cd9-4ee0-aa20-2f6caf49970c" message="Trigger policy has been set to POLL. Skipping this message"/>
			</otherwise>
		</choice>
		<set-payload value="&lt;soapenv:Envelope xmlns:soapenv='http://schemas.xmlsoap.org/soap/envelope/'
	xmlns:out='http://soap.sforce.com/2005/09/outbound'&gt;
	&lt;soapenv:Header /&gt;
	&lt;soapenv:Body&gt;
		&lt;out:notificationsResponse&gt;
			&lt;out:Ack&gt;true&lt;/out:Ack&gt;
		&lt;/out:notificationsResponse&gt;
	&lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;" doc:name="Set Payload" doc:id="58172893-bb56-4b01-a7b0-6a45ab931b04" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73" >
		<scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.startDelay}"/>
			</scheduling-strategy>
		</scheduler>
		<choice doc:name="Trigger Policy?" doc:id="b0cb7e8f-6903-4ae5-9f5b-6bbfe1848095" >
			<when expression="#['poll' == '${trigger.policy}']" >
				<flow-ref doc:name="sfdcQueryFlow" doc:id="ada07859-8839-4751-9623-68a08d31a472" name="sfdcQueryFlow"/>
				<ee:transform doc:name="Transform Account Objects to Json" doc:id="42c85ee6-aad2-4303-902f-e422cc2acf82">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<jms:publish doc:name="JMS Topic A" doc:id="adfc9f71-0802-4f5a-96c7-ec1fe6310d76" destination="A" config-ref="ActiveMQ" destinationType="TOPIC">

				</jms:publish>
</when>
			<otherwise >
				<logger level="INFO" doc:name="Log about skipped message" doc:id="242c440a-7556-414f-a413-ecdd6a09e7f1" message="Trigger policy has been set to PUSH. Skipping this message"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
</flow>
	<flow name="sfdcQueryFlow">
		<os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
        <os:default-value ><![CDATA[#[read(p('watermark.default.expression'))]]]></os:default-value>
    </os:retrieve>
    <salesforce:query config-ref="Salesforce_Sfdc_A_config" doc:name="Query Accounts from Salesforce instance A" doc:id="ebcf71a8-3192-4437-b2cb-b23f008afae5">
		<salesforce:salesforce-query>SELECT AccountNumber, Description, Id, Industry, LastModifiedDate, LastModifiedById, Name, NumberOfEmployees FROM Account WHERE LastModifiedDate &gt; :lastModifiedDate AND NumberOfEmployees &gt; 5000</salesforce:salesforce-query>
		<salesforce:parameters><![CDATA[#[output application/java
---
{
	"lastModifiedDate" : vars.lastQueryTimestamp
}]]]></salesforce:parameters>
    
</salesforce:query>
		<os:store key="watermark" failIfPresent="false" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp">
        <os:value>#[max(payload map $.LastModifiedDate)]</os:value>
    </os:store>

</flow>
</mule>

